@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --card-color: hsl(0, 0%, 9%);
  --text-color: hsl(0, 0%, 91%);
  --text-color-secondary: #212529;
  /* --border: hsla(0, 0%, 100%, 0.06); */
  --border: hsl(0, 0%, 6%);
  --g1: #00c7a9;
  --g2: #008148;
  --g3: #133c55;
  --g1dark: 171, 100%, 39%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  #Rx {
    background: none;
    font-size: 2rem;
  }

  #Rx h1 {
    display: none;
  }

  #Rx::before {
    display: none;
  }

  #print-button {
    display: none;
  }
}

.container {
  position: relative;
  left: 78px;
  width: calc(100% - 78px);
}

input {
  background: var(--card-color);
  color: var(--text-color);
}

/* ******************** COLORS ************************** */

.disease-card-Dermatologie {
  --g1: #ff9d7e;
  --g2: hsl(12, 59%, 70%);
  --g3: #49537d;
}
.disease-card-Chirurgie {
  --g1: #2b2d42;
  --g2: #8d99ae;
  --g3: #edf2f4;
}
.disease-card-Cardiologie {
  --g1: #d90429;
  --g2: #ef233c;
  --g3: #a8dadc;
}
.disease-card-Neurologie {
  --g1: #f48c06;
  --g2: #faa307;
  --g3: #ffddd2;
}
.disease-card-Gynéco-Obstétrique {
  --g1: #ff7096;
  --g2: #ff477e;
  --g3: #ff0a54;
}
.disease-card-Gastro-entérologie {
  --g1: #b88b4a;
  --g2: #754043;
  --g3: #533e2d;
}
.disease-card-Urologie {
  --g1: #9d4edd;
  --g2: #4361ee;
  --g3: #3a0ca3;
}
.disease-card-Oto-rhino-laryngologie {
  --g1: #3793ff;
  --g2: #0017e4;
  --g3: hsl(239, 94%, 25%);
}

/* ********************* NAVBAR ********************* */

@keyframes nav {
  from {
    width: 78px;
  }
  to {
    width: 250px;
  }
}

@keyframes gradient {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

.nav-container {
  color: hsl(0, 0%, 81%);
  background: var(--card-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  width: 78px;
  top: 0;
  left: 0;
  overflow: hidden;
  /* transition: width 0.6s cubic-bezier(0.76, 0, 0.24, 1); */
  transition: width 0.6s ease;
  z-index: 9;
}

.menu {
  position: relative;
}

.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(var(--transformJS)) scale(0.5);
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background: linear-gradient(to right, hsl(var(--g1dark), 0.75), transparent);
  /* background-size: -200%; */
  /* animation: background-pan 3s ease-in-out infinite; */
  z-index: 1;
  opacity: 0;
  /* box-shadow: var(); */
  transition: all 0.3s ease;
}

.menu:hover::before {
  opacity: 1;
  transform: translateY(var(--transformJS));
}

.nav-container:hover {
  width: 250px;
  animation: nav 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-container header {
  margin: 2.5rem 0;
}

.nav-container header svg {
  width: 45px;
}

.nav-container .nav-link path {
  fill: hsl(218, 11%, 65%);
}
.nav-container .nav-link:hover path {
  fill: hsl(0, 0%, 100%);
}

.nav-container .nav-link.active {
  background-color: rgba(255, 255, 255, 0.08);
  color: hsl(0, 0%, 100%);
}

.nav-container:hover .nav-link.active {
  background: none;
  color: rgb(156 163 175);
}

.nav-container .nav-link.active path {
  fill: hsl(0, 0%, 100%);
}

.nav-link {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  padding: 3px 0;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 0px;
  transition: all 0.35s ease-in-out;
  z-index: 11;
}

/* .nav-link:hover {
  background-color: hsla(0, 0%, 100%, 0.198);
} */

.nav-container .nav-link i {
  min-width: 30px;
  margin: 0 7.5px;
}

.nav-container span {
  font-weight: 500;
  opacity: 0;
  transform: translateX(-20px);
  width: fit-content;
  flex-shrink: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease;
  white-space: nowrap;
  /* position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px; */
}

.nav-container header span {
  font-weight: 700;
  transform: translateX(-16px);
}

.nav-container:hover {
  /* width: 20%; */
}

.nav-container:hover span {
  opacity: 1;
  transform: translateX(0px);
}

.nav-link:hover span {
  color: rgba(230, 230, 230, 0.924);
}
/* .nav-link:hover svg path {
  fill: rgb(0, 0, 0);
} */

/* ********************* SEARCH PAGE ********************* */

/* ------------ Search Input ------------ */

@keyframes background-anim {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.search-box {
  background: var(--card-color);
  border-radius: 12px;
  padding-left: 40px;
  font-size: 1rem;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.search-box::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.search-box:hover::placeholder {
  background-color: var(--g1);
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: background-color 0.4s ease-in-out;
}

#search {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  border: none;
  outline: 0.5mm solid #ffffff26;
  position: relative;
}

#search:hover {
  outline: 0.5mm solid transparent;
}

#search:focus {
  outline: 0.5mm solid rgba(255, 255, 255, 0.35);
}

.search-container {
  position: relative;
}

@property --gradientAngle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.search-container::after,
.search-container::before {
  content: "";
  position: absolute;
  background: conic-gradient(
    from var(--gradientAngle),
    var(--g1),
    var(--g2),
    var(--g3),
    var(--g2),
    var(--g1)
  );
  inset: -0.5mm;
  border-radius: 12px;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

.search-container::before {
  filter: blur(1mm);
}

.search-container:hover::before {
  opacity: 0.7;
  animation: gradientRotate 10s linear infinite;
}

.search-container:hover::after {
  opacity: 1;
  animation: gradientRotate 10s linear infinite;
}

@keyframes gradientRotate {
  to {
    --gradientAngle: 360deg;
  }
}

.search-box ~ svg path {
  fill: rgba(255, 255, 255, 0.6);
  transition: all 0.4s ease-in-out;
}
.search-box:focus ~ svg path {
  fill: rgb(255, 255, 255);
}
.search-box:hover ~ svg path {
  fill: var(--g1);
}

/* ------------ Specialty DropDown ------------ */

.dropdown {
  width: 33%;
  height: 100%;
  border-radius: 12px;
  box-sizing: border-box;
  position: relative;
  z-index: 9;
}

/* .dropdown::after,
.dropdown::before {
  content: "";
  position: absolute;
  background: conic-gradient(
    from var(--gradientAngle),
    var(--g1),
    var(--g2),
    var(--g3),
    var(--g2),
    var(--g1)
  );
  background-size: 220%;
  inset: 0;
  border-radius: 12px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.dropdown::before {
  filter: blur(1mm);
  z-index: 7;
}


.dropdown:hover::before {
  opacity: 0.7;
  animation: gradientRotate 10s linear infinite;
}

.dropdown:hover::after {
  opacity: 1;
  animation: gradientRotate 10s linear infinite;
}

.dropdown.open::after,
.dropdown.open::before {
  opacity: 0;
} */

.arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  /* border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255, 255, 255, 0.6); */
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.arrow path {
  fill: rgba(255, 255, 255, 0.6);
}
.dropdown:hover .arrow path {
  fill: rgba(255, 255, 255, 0.8);
}

.arrow.open {
  transform: translateY(-50%) rotate3d(1, 0, 0, 180deg);
  outline: none;
}

.input-box {
  width: 100%;
  height: 3.4rem;
  box-sizing: border-box;
  outline: 0.5mm solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 11;
  transition: all 0.4s ease-in-out;
}

.input-box:hover {
  outline: 0.5mm solid rgba(255, 255, 255, 0.35);
}

.input-box:focus {
  outline: 0.5mm solid rgba(255, 255, 255, 0.35);
}

.input-box:empty::after {
  content: "Spécialités";
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.dropdown:hover .input-box:empty::after {
  color: rgba(255, 255, 255, 0.8);
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300%;
  height: fit-content;
  background: var(--card-color);
  border: 0.3mm solid hsl(0, 0%, 18%);
  margin-top: 5px;
  border-radius: 2mm;
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 100%));
  place-items: center;
  gap: 5px;
  box-sizing: border-box;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.35s ease-out;
  z-index: 15;
  text-align: left;
}
.list input {
  display: none;
}
.list label {
  width: 100%;
  height: 4rem;
  display: grid;
  align-content: center;
  justify-content: start;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0.3mm solid rgba(255, 255, 255, 0.15);
  position: relative;
  z-index: 16;
}

.list label span {
  display: absolute;
  place-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 17;
}
.list label .material-icons-outlined,
.input-box .material-icons-outlined {
  margin-right: 5px;
  font-size: 22px;
}
.list label:hover {
  background: rgba(255, 255, 255, 0.08);
}
input:checked + label {
  color: var(--g1);
  font-weight: 600;
  background: rgb(26, 26, 26);
}

.open {
  outline: 0.7mm solid hsl(var(--g1dark), 0.65);
}

.list.open {
  opacity: 1;
  visibility: visible;
  max-height: 1350%;
  z-index: 15;
}

/* -------------- END of Specialty DropDown ------------ */

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.specialty-h2 {
  background: linear-gradient(
    to right,
    var(--g1),
    var(--g2),
    var(--g3),
    var(--g1)
  );
  animation: background-pan 1.5s ease-in-out 0.5s 1;
  background-size: 200%;
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
}

.specialty-h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgb(var(--background-end-rgb)) 50%,
    rgb(var(--background-end-rgb)) 100%
  );
  background-size: 400%;
  background-position: 0% center;
  display: block;
  margin-top: 1rem;
  animation: background-forward 1.2s ease-in-out 1;
}

@keyframes background-forward {
  from {
    background-position: 70% center;
  }
  to {
    background-position: 0% center;
  }
}

.disease-card {
  aspect-ratio: 3.75 / 1;
  border: 0.3vmin solid var(--border);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  width: 73vmin;
  overflow: hidden;
  transition: all 0.3s ease-out;
  background-color: var(--card-color);
  z-index: 2;
}

.disease-card:hover {
  transform: scale(1.02, 1.06);
  border: 0.3vmin solid transparent;
}

.disease-card::before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    var(--g1) 66%,
    var(--g2) 83.3%,
    var(--g3) 100%
  );
  background-size: 300% 300%;
  background-position: 0% 0%;
  transition: background-position 0.35s ease-in-out;
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.disease-card:hover::before {
  background-position: 100% 100%;
}

.disease-card-content {
  /* background: radial-gradient(
    rgba(255, 255, 255, 0.1) 5%,
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  z-index: 2;
   */
  /* border: var(--border) 0.3vmin solid;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: inherit;
  position: relative;
  transition: border 0.3s ease-in-out; */
}

/* .disease-card:hover .disease-card-content {
  border: 0.3vmin solid transparent;
  
} */

/* .disease-card-content span {
  position: absolute;
  top: 14%;
  right: 3%;
  z-index: 2;
  
} */

.icon {
  position: absolute;
  width: 40%;
  top: 110%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.disease-card:hover .icon {
  opacity: 1;
  top: 85%;
  transform: translate(-50%, -60%) rotate(7deg);
}
.stetho {
  position: absolute;
  width: 50%;
  top: 170%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.disease-card:hover .stetho {
  opacity: 1;
  top: 120%;
  transform: translate(-50%, -60%) rotate(7deg);
}

.disease-card:hover h2 {
  color: rgb(255, 255, 255);
}

/* ************************* SPECIALTIES CARDS ************************ */

.specialty-cards:hover > .specialty-card::after {
  opacity: 1;
}

.specialty-card {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.specialty-card:hover::before {
  opacity: 1;
}

.specialty-card::before,
.specialty-card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 600ms;
  width: 100%;
}

.specialty-card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.specialty-card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    hsla(0, 0%, 100%, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.specialty-card > .specialty-card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1.5px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.specialty-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 99;
}

/* ******************** SPECIALTY CARD MAIN ICON + TEXT ************************** */

.main-icon {
  width: 50%;
  position: absolute;
  transition: transform 600ms ease;
  z-index: 6;
}
.main-icon path {
  transition: fill 500ms ease-in-out;
}
.specialty-card:hover .main-icon path {
  fill: var(--g1);
}
.specialty-card:hover .main-icon {
  transform: translate(0, -2rem);
}

.specialty-card span {
  visibility: hidden;
  opacity: 0;
  position: relative;
  transition: visibility 0ms, opacity 600ms ease 200ms, transform 600ms ease;
  z-index: 5;
}

.specialty-card:hover span::after {
  transform: scaleX(1);
}

.specialty-card span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  /* transform-origin: bottom right; */
  height: 3px;
  bottom: -8px;
  left: 0;
  background-color: var(--g1);
  transition: transform 600ms ease 200ms;
}
.specialty-card:hover span {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 64px);
  /* text-decoration: underline var(--g1) 2px solid ; */
  text-underline-offset: 10px;
}

/* ************************************ DETAILS PAGE **************************** */

.detail-card {
  color: white;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 15px;
  padding: 2rem;
  height: 100%;
  position: relative;
}

.detail-card h1,
ul {
  z-index: 10;
  /* color: white; */
}

.Rx-card {
  background-image: conic-gradient(
    from -95deg,
    var(--g1),
    var(--g3),
    var(--g3),
    var(--g1),
    var(--g3),
    var(--g3),
    var(--g1)
  );
  color: hsl(0, 0%, 4%);
}

.Rx-card::before {
  content: "";
  position: absolute;
  inset: 7px;
  border-radius: 10px;
  background: hsl(0, 0%, 96%);
}

.Rx-h1 {
  position: absolute;

  top: -35px;
  left: -10px;
  right: 0;
  z-index: 10;
}

.Rx-card h1 {
  background: linear-gradient(90deg, var(--g1), var(--g2), var(--g3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 4rem;
}

.print-button {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  z-index: 10;
  opacity: 70%;
  transition: opacity 600ms;
}
.print-button svg {
  border-radius: 10%;
}

.print-button:hover {
  opacity: 100%;
}

.divider {
  width: 7px;
  height: 100%;
  background-image: radial-gradient(circle at 50% 50%, var(--g1), transparent);
  transform: scaleY(1.5);
  z-index: 0;
}

.disease-def {
  height: 100%;
}

/* ------------------------- PRINTFORM STYLES --------------------------- */
.prescription {
  position: relative;
  background-image: url("/Frame 1.svg");
  aspect-ratio: 0.7089;
  width: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.print-sec {
  width: calc(100% - 78px);
  margin-left: 78px;
}

.p-date {
  position: absolute;
  top: 29.5%;
  left: 71%;
}

.p-name {
  position: absolute;
  top: 33%;
  left: 27%;
}

.p-age {
  position: absolute;
  top: 37%;
  left: 50%;
}

.p-sex{
  position: absolute;
  top: 37%;
  left: 75%;
}

/* ************************ MODAL STYLES ************************ */

.modal {
  width: calc(100% - 78px);
  margin-left: 78px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.61);
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 100;
  color: white;
}

.modal-content {
  position: absolute;
  top: 0;
  width: 70%;
  background-color: var(--card-color);
  border-radius: 15px;
  padding: 2rem;
  animation: modal 0.5s ease-out;
}
/* 
@keyframes modal {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} */

.modal-content input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: #000000;
}