.card {}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.75rem;
  border-radius: 1.5rem;
  z-index: 5;
  position: relative;
}

.title {
  color: var(--disease-title-color);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: color 0.25s ease-out;
}

.specialty {
  color: var(--disease-specialty-color);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.025em;
}

.iconOverlay {
  position: absolute;
  width: 40%;
  top: 110%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  will-change: opacity, transform, top;
  z-index: 1;
}

.stethoOverlay {
  position: absolute;
  width: 50%;
  top: 170%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

/* Hover effects for overlays */
@media (hover: hover) and (pointer: fine) {
  .card:hover .iconOverlay {
    opacity: 1;
    top: 85%;
    transform: translate(-50%, -60%) rotate(7deg);
  }

  .card:hover .stethoOverlay {
    opacity: 1;
    top: 120%;
    transform: translate(-50%, -60%) rotate(7deg);
  }

  .card:hover .title,
  .card:hover .iconOverlay,
  .card:hover .stethoOverlay {
    color: #ffffff;
  }
}

/* Focus effects (Mobile Scroll) */
.card.centerFocus .iconOverlay {
  opacity: 1;
  top: 85%;
  transform: translate(-50%, -60%) rotate(7deg);
}

.card.centerFocus .stethoOverlay {
  opacity: 1;
  top: 120%;
  transform: translate(-50%, -60%) rotate(7deg);
}

.card.centerFocus .title,
.card.centerFocus .iconOverlay,
.card.centerFocus .stethoOverlay {
  color: #ffffff;
}
