.headerCard {
  width: 100%;
  padding: 1.5rem;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .headerCard {
    width: 75%;
    flex-direction: row;
    padding: 2rem;
  }
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.specialtyText {
  font-size: 1.25rem;
  font-weight: 600;
}

.definitionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .definitionContainer {
    flex-direction: row;
    gap: 1rem;
  }
}

.divider {
  width: 7px;
  height: 100%;
  background-image: radial-gradient(circle at 50% 50%, var(--g1), transparent);
  transform: scaleY(1.5);
  z-index: 0;
  display: none;
}

@media (min-width: 768px) {
  .divider {
    display: block;
  }
}

.rxCardWrapper {
  background-image: linear-gradient(
    -45deg,
    var(--card-color) 0%,
    var(--text-color-secondary) 64%,
    var(--border) 100%
  );
  border-radius: 9% !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rxCardWrapper::before {
  content: "";
  position: absolute;
  inset: 10px;
  border-radius: 8.5%;
  background: var(--text-color);
  z-index: 0;
}

.rxContent {
  width: calc(100% - 20px);
  min-height: calc(100% - 20px);
  margin: 1.25rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 8.5%;
  z-index: 1;
}

@media (min-width: 768px) {
  .rxContent {
    margin: 2.5rem 0;
  }
}

.dxCard {
  padding: 1.5rem;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

@media (min-width: 768px) {
  .dxCard {
    padding: 2rem;
  }
}
