.prescription {
  position: relative;
  background-image: url("/Frame 1.svg");
  aspect-ratio: 0.7089;
  width: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.printSection {
  width: calc(100% - 78px);
  margin-left: 78px;
}

.date { position: absolute; top: 29.5%; left: 71%; }
.name { position: absolute; top: 33%; left: 27%; }
.age  { position: absolute; top: 37%; left: 50%; }
.sex  { position: absolute; top: 37%; left: 75%; }
